body{    
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content{
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    ". cabecera ."
    "contenido contenido contenido"
    ". piedepagina .";
}

/*Header*/
.header-content{
    grid-area: cabecera;
}
.logotipo{
    text-align: center;
}
.logotipo img{
    width: 150px;
    height: 100px;
}

/*contenido*/
.content-page{
    background: blue;
    grid-area: contenido;
    display: grid;
    grid-template-rows: 100px 1fr;
    margin: 0px;
}
.titulos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.titulolocal{
    font-family: 'Open Sans';
    margin-left: 100px;
}
.titulolocal h1{
    width: 200px;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-size: 50px;
    text-decoration: underline;
    margin: 0;
    text-align: center;
}
.titulolocal h2{
    width: 200px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    margin: 0;    
    text-align: center;
}
.titulocliente{
    font-family: 'Open Sans';
    font-size: 25px;
    text-align: end;
    margin: auto;
    margin-right: 50px;

}
.titulocliente h3{
    display: inline;
    margin: 0;
    text-decoration: underline;
}
.titulocliente button{
    width: 100px;
    height: 30px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    border:  2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
}
.titulocliente button:hover{
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #e4bc7d;
    box-shadow: 5px 5px 0px #e4bc7d;
}
.titulocliente button:active{
    box-shadow: none;
    transform: translateY(4px);
}
.titulocliente select{
    height: 30px;
    border-radius: 20px;
    margin-right: 50px;
    box-shadow: 5px 5px 0px #e4bc7d;
}



/*footer*/
.footer-content{    
    grid-area: piedepagina;
    text-align: center;
}
