body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content{
    display: grid;    
    grid-template-rows: 100px 1fr 100px;
    width: 100%;    
    height: 100vh;
    grid-template-areas: 
    "cabecera"
    "contenido"
    "piedepagina";
}
.header-content{
    width: 100%;
    grid-area: cabecera;
    background-color: #e4bc7d;
}
.content-page{
    grid-area: contenido;    
    text-align: center;
    font-size: 25px;
}
.footer-content{
    grid-area: piedepagina;
}

/*CSS items header*/
.header-nav{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    font-size: 30px;
}
.header-nav img{
    width: 150px;
    height: 100px;
}
.header-nav button{
    width: 150px;
    height: 50px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    border:  2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
}
.header-nav button:hover{
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #e4bc7d;
    box-shadow: 5px 5px 0px #e4bc7d;
}
.header-nav button:active{
    box-shadow: none;
    transform: translateY(4px);
}

/*CSS items navbar*/
.Barra-de-navegar ul{
    text-align: center;
}

.Barra-de-navegar li{
    display: inline;    
    padding: 10px;
}

.Barra-de-navegar li a{
    text-decoration: none;
    color: #5a5858;
}

.Barra-de-navegar li a:hover{
    color: #02032a;
}

/*Css contenido de la pagina*/
.content-page h3{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

.somos{
    font-size: 25px;
    transition: all 400ms;    
    padding: 0px 15px;
    margin-bottom: 15px;
}
.somosp{
    text-align: justify;
}
.somosimg{
    background: #171717;
    border-radius: 15px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    gap: 2px;
}

.somosimg img:nth-child(odd){
    translate: 0 -10px;
}

.somosimg img:nth-child(even){
    translate: 0 10px;
}
.somosimg img{
    transition: all 400ms;
    width: 15%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
}
.somos:hover > .somosimg img:not(:hover){
    filter: grayscale(100%);
}
.somosimg img:hover{
    width: 100%;   
    filter: drop-shadow(0px 2px 10px #fff);
}

.content-page h4{
    text-align: center;
    font-size: 25px;
}

#quienes1{
    border-left: 5px solid #0d88d5;
    border-top: 5px solid #0d88d5;
    border-radius: 20px;
}

#quienes1:hover{
    background: #ffffff;
    border-left: 2px;
    border-top: 2px;
    border-right: 5px solid #0d88d5;
    border-bottom: 5px solid #0d88d5;
    border-radius: 20px;
}

#quienes1 h4{
    text-decoration: underline;
    text-decoration-color: #0d88d5;
}

#quienes2{
    border-left: 5px solid #144d70;
    border-top: 5px solid #144d70;
    border-radius: 20px;
}

#quienes2:hover{
    background: #ffffff;
    border-left: 2px;
    border-top: 2px;
    border-right: 5px solid #144d70;
    border-bottom: 5px solid #144d70;
    border-radius: 20px;
}

#quienes2 h4{
    text-decoration: underline;
    text-decoration-color: #144d70;
}

#quienes3{
    border-left: 5px solid #d5571d;
    border-top: 5px solid #d5571d;
    border-radius: 20px;
}

#quienes3:hover{
    background: #ffffff;
    border-left: 2px;
    border-top: 2px;
    border-right: 5px solid #d5571d;
    border-bottom: 5px solid #d5571d;
    border-radius: 20px;
}

#quienes3 h4{
    text-decoration: underline;
    text-decoration-color: #d5571d;
}

/*/////////////////////////////////////////////////////////////////////*/
#service1{
    border-left: 5px solid #41d762;
    border-top: 5px solid #41d762;
    border-radius: 20px;
}

#service1:hover{
    background: #ffffff;
    border-left: 2px;
    border-top: 2px;
    border-right: 5px solid #41d762;
    border-bottom: 5px solid #41d762;
    border-radius: 20px;
}

#service1 h4{    
    text-decoration: underline;
    text-decoration-color: #41d762;
}

#service2{
    border-left: 5px solid #265408;
    border-top: 5px solid #265408;
    border-radius: 20px;
}

#service2:hover{
    background: #ffffff;
    border-left: 2px;
    border-top: 2px;
    border-right: 5px solid #265408;
    border-bottom: 5px solid #265408;
    border-radius: 20px;
}

#service2 h4{    
    text-decoration: underline;
    text-decoration-color: #265408;
}

#service3{
    border-left: 5px solid #d51d1d;
    border-top: 5px solid #d51d1d;
    border-radius: 20px;
}

#service3:hover{
    background: #ffffff;
    border-left: 2px;
    border-top: 2px;
    border-right: 5px solid #d51d1d;
    border-bottom: 5px solid #d51d1d;
    border-radius: 20px;
}

#service3 h4{    
    text-decoration: underline;
    text-decoration-color: #d51d1d;
}

.quienesomos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.quienesomos div{
    width: 400px;
    height: 400px;
}

.servicioproducto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    justify-items: center;
}

.servicioproducto div{
    width: 400px;
    height: 500px;
}

.servicioproducto div img{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

.contacto{
    background: #e4bc7d;
    margin: 0;
    text-align: center;
}

.contacto input{
    width: 400px;
    height: 20px;
    text-align: center;
    margin: auto;
}

.contacto textarea{
    width: 815px;
    height: 200px;
}

.contacto button{
    border-radius: 20px;
    width: 150px;
    height: 50px;
}

/*footer de la pagina*/
.footer-content{
    align-content: center;
    text-align: center;
}