body{
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
/*termina el body y inicia el header*/
.header-content{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.logotipo img{
    margin: 0 auto;
}
/*termina el header y comienza el contenido*/
.content-page{        
    width: 100%;    
    height: 100px;
    margin: 0 auto;
    display: flex;
}
/*logitipo*/
.titulos{
    margin: 0 auto;
    margin-left: 100px;
    width: 200px;
    height: 100px;
}
#titulo{
    font-family: "Edu VIC WA NT Beginner", cursive; 
    text-decoration: underline;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#subtitulo{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-top: 0px;
    padding-left: 20px;
}
.datosgrupo{
    margin: 0 auto;
    width: 200px;
    height: 100px;
    margin-left: 600px;
    font-family: "Open Sans", sans-serif;
}
.nombregrupo h3{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 0px;
}
.nombregrupo select{
    font-family: "Open Sans", sans-serif;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}
/*tabla*/

/*termina el contenido y inicia el footer*/
.footer-content{    
    width: 100%;
    margin: 0 auto;
    text-align: center;
}