body{
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
/*termina el body y inicia el header*/
.header-content{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.logotipo img{
    margin: 0 auto;
    width: 170px;
}
/*termina el header y comienza el contenido*/
.content{    
    width: 100%;
    margin: 0 auto;
}
.content-page{    
    width: 100%;    
    margin: 0 auto;
    display: flex;
}
/*logitipo*/
.titulos{
    margin: 0 auto;
    width: 400px;
    margin-left: 0px;
    margin-right: 0px;
}
#titulo{
    font-family: "Edu VIC WA NT Beginner", cursive; 
    text-decoration: underline;
    font-size: 60px;
    padding-top: 50px;
    padding-left: 100px;
    margin-bottom: 0px;
}
#subtitulo{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    padding-left: 120px;
    margin-top: 0px;
    
}
/*formulario*/
.formulario{
    margin: 0 auto;
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-left: 5%;
    background-color: #d9d9d9;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px #706e6e;
}
.formulario h2{
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
.formulario label{
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
}
.formulario input{
    margin-top: 10px;
    margin-left: 50px;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}
#btn-iniciar{
    margin: 0 auto;
    background-image: url("../img/iniciar.png");
    background-color: #d9d9d9;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 170px;
    margin-top: 50px;
    height: 50px;    
    width: 50px;

}
/*termina el contenido y inicia el footer*/
.footer-content{      
    width: 100%;  
    margin: 0 auto;
    text-align: center;
}