body{
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
/*termina el body y inicia el header*/
.header-content{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.logotipo img{
    margin: 0 auto;    
    width: 170px;
}
/*termina el header y comienza el contenido*/
.content{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.content-page{        
    width: 100%;    
    height: 100px;
    margin: 0 auto;
    display: flex;
}
/*logitipo*/
.titulos{
    margin: 0 auto;
    margin-left: 100px;
    width: 200px;
    height: 100px;
}
#titulo{
    font-family: "Edu VIC WA NT Beginner", cursive; 
    text-decoration: underline;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#subtitulo{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-top: 0px;
    padding-left: 20px;
}
.datosgrupo{
    margin: 0 auto;
    width: 300px;
    height: 100px;
    margin-left: 50%;
    font-family: "Open Sans", sans-serif;
}
.nombregrupo h3{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 0px;
    float: left;
}
.nombregrupo button{
    width: 50px;
    height: 40%;
    margin-left: 10px;
    background-color: #ffffff;
    border: none;
    background-image: url("../img/salir.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.nombregrupo select{
    font-family: "Open Sans", sans-serif;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}
/*tabla*/
.busquedaproductos{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
}
.formularioconsulta label{
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 50px;
}
.formularioconsulta input{
    font-family: "Open Sans", sans-serif;
    width: 300px;
    height: 40px;
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
}
.tab-busqueda{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #000;
    background-color: #ffffff;
}
.tab-busqueda tr , td{
    width: 25%;
    border: 1px solid #000;
    text-align: center;
}
#tabladeproductos{
    background-color: #d9d6d9;
}
/*termina el contenido y inicia el footer*/
.footer-content{    
    width: 100%;
    margin: 0 auto;
    text-align: center;
}