<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miinvya</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <section class="header-content">
        <header>
            <section class="logotipo">
                <img src="../img/logotiporecortado.png" alt="">
            </section>                    
        </header>
    </section>
    <section class="content-page">
        <section class="titulos">
            <h1 id="titulo">Miinvya</h1>        
            <h2 id="subtitulo">Mi inventario ya</h2>
        </section>        
    </section>
    <section class="footer-content">
        <footer>
            <h4 id="derechos">© Rivero Solution Tecnho Pcs</h4>
        </footer>
    </section>
</body>
</html>