<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miinvya</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>

    <section class="content">
        <section class="header-content">
            <header>
                <section class="header-nav">
                    <img src="../img/logotiporecortado.png" alt="">
                    <nav class="Barra-de-navegar">
                        <ul>
                            <li><a href="#quiensomos">Quienes somos</a></li>
                            <li><a href="#services">Servicios y Productos</a></li>
                            <li><a href="#contactanos">Contactanos</a></li>
                        </ul>
                    </nav>
                    <button id="iramiinya">Miinvya</button>
                </section>                    
            </header>
        </section>
    
        <section class="content-page">            
            <section class="somos">                                
                <div class="somosimg">
                    <img src="../img/rs.png" alt="">
                    <img src="../img/infinity-war.png" alt="">
                    <img src="../img/MiinvyaCorrecion.png" alt="">
                    <img src="../img/precensia_icon_grande.png" alt="">
                    <img src="../img/iniciar.png" alt="">
                </div>
                <h3 id="quiensomos">Quienes Somos</h3>       
                <div class="somosp">
                    <p>Somos una pequeña empresa dedicada a la tegnologia creada para brindar servicios a personas naturales
                        o empresas, con la finalidad de satisfacer las necesidades informaticas que se le presenten en los campos
                        de mantenimiendo de computadoras, reparación de computadoras, soporte tecnico en linea, asesoria tegnologicas,
                        ventas de productos de computación y sistemas informaticos.
                    </p>
                </div>
                <img src="../img/infinity-war.png" alt="">         
            </section>

            
            <section class="quienesomos"> 
                <div id="quienes1">                                   
                    <h4>MISION</h4>
                    <p>Ofrecer el mejor servicio tegnologico del mercado y brindar las mejores herramientas
                        informaticas a nuestros clientes.
                    </p>
                </div>

                <div id="quienes2">
                    <h4>VISION</h4>
                    <p>Convertirnos en el mejor aliado tegnologico de nuestros clientes,
                        ofrecer las mejores competencias y el mejor personal capacitado a nivel 
                        nacional y internacional con la capacida de adaptacion a los nuevos retos.
                    </p>
                </div>

                <div id="quienes3">
                    <h4>VALORES</h4>
                    <p><ul>
                        <li>Responsabilidad</li>
                        <li>Compromiso</li>
                        <li>Solidaridad</li>
                        <li>Calidad</li>
                        <li>Innovación</li>
                        <li>Respeto</li>
                        <li>Honestidad y Ética Empresarial</li>
                    </ol></p>
                </div>
            </section>

            <h3 id="services">Servicios y Productos</h3>
            <section class="servicioproducto">              
                <div id="service1">
                    <img src="../img/soporte_icon_grande.png" alt="">                                   
                    <h4>MANTENIMIENTO Y REPARACION</h4>
                    <p>Ofrecemos el mejor servicio tecnico <br/>
                        y a los mejores prefesionales para <br/>
                        atender sus necesidades en cuanto <br/>
                        a al mantenimiento y reparación de <br/>
                        equipos de computación.  
                    </p>
                </div>

                <div id="service2">
                    <img src="../img/consultoria_icon_grande.png" alt="">
                    <h4>COTIZACION</h4>
                    <p>Nos complace ofrecerles la mejor asesoria <br/>
                        y equipamiento de equipos de computación, <br/>
                        piezas y perifericos.
                    </p>
                </div>

                <div id="service3">
                    <img src="../img/precensia_icon_grande.png" alt="">
                    <h4>SERVICIOS</h4>
                    <p>Contamos con el mejor servicio de consulta <br/>
                        de inventario y de reportes compra/venta  <br/>
                        en tiempo real del mercado, con nuestra app web <br/>
                        <strong>Miinvya</strong>.
                     </p>
                </div>
            </section>

            <h3 id="contactanos">Contactanos</h3>
            <section class="contacto">
                <h4>Envianos tu requerimiento</h4>
                <form action="">
                    <input type="text" placeholder="Nombre" required>
                    <input type="email" placeholder="Correo" required><br/>
                    <textarea rows="10" cols="50"></textarea><br/>
                    <button>ENVIAR</button>
                </form>
            </section>
        </section>
    
        <section class="footer-content">
            <footer>
                <h4 id="derechos">© Rivero Solution Tecnho Pcs</h4>
            </footer>
        </section>
    </section>    

    <script src="../js/scriptindex.js"></script>
</body>
</html>