<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miinvya</title>
</head>
<body>
    <section id="header-content">
        <header>
            <h1>Miinvya</h1>
            <h2><span>nombre grupo</span></h2>
            <button>Cerrar sesión</button>
        </header>
    </section>
    <section id="content-page">
        <form action="">
            <label for="buscar">Buscar Producto</label>
            <input type="text" id="buscar"/>
            <img src="" alt="">
            <select>
                <option value=""></option>
            </select>
            <table>
                <tr>
                    <td>Descripcion</td>
                    <td>Existencia</td>
                    <td>Precio bs</td>
                    <td>Precio $</td>
                </tr>
            </table>
        </form>
    </section>
    <section>
        <footer id="footer-content">
            <h4>© Rivero Solution Tecnho Pcs</h4>
        </footer>
    </section>
</body>
</html>